@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 64.5%;
}

.Calculator {
  max-width: 40rem;
  height: 60rem;
  margin: 2rem auto;
  font-size: 2.5rem;
  background-color: black;
  color: #fff;
  border-radius: 1rem;
}

.grid {
  padding: 1.5rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  row-gap: 2rem;
}

.firstRow {
  width: 100%;
  height: 11rem;
  grid-column: 1/5;
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondRow {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  grid-column: span 4;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
  color: white;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5rem;
  margin-top: 1rem;
  width: 6.5rem;
  height: 6.5rem;
  background-color: #121212;
  border: none;
  font-size: 2.5rem;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
}

/* .number,
.operator {
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5rem;
  margin-top: 1.5rem;
  width: 6.5rem;
  height: 6.5rem;
  background-color: #121212;
} */

.thirdRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fifthColumn {
  gap: 1rem;
  /* margin-right: 1rem; */
  display: grid;
  grid-template-columns: 2fr 2fr;
}
